
<!-- Loading execution suites for project every time when this form is reloading -->
<% @lists2 = get_execution_suites_by_project_and_parent(@project) %>

<%= form_for :list2, :url => { :action => 'update_exelists', :project_id => @project.id } do |f| %>
    <div>
<table>
<tr>
<td>
<h3 id="execution-settings-suite">
            <%= l('label_execution_suite') %>:
            </h3>
</td>            
<td>
<h3 id="execution-settings-suite">
            <%= f.select :id, @lists2.collect { |e| [ e.name, e.id ] } %>
        </h3>
        </td>
</tr>
<tr>
<td>
        <h3 id="execution-settings-version">
            <%= l('label_version') %>:
            </h3>
</td>            
<td>
<h3 id="execution-settings-version">
            <%= select_tag 'version', options_for_select(Version.find_all_by_project_id(@project.id).collect { |res| res.name }, @version.name ) %>
        </h3>
        </td>
</tr>
<tr>
<td>
        <h3 id="execution-settings-environment">
            <%= l('label_environment') %>:
            </h3>
</td>            
<td>
<h3 id="execution-settings-environment">
            <%= select_tag 'environments', options_for_select(ExecutionEnvironment.find(:all, :conditions => "project_id = #{@project.id}", :order => 'name asc').collect { |res| [res.name, res.id] }) %>
        </h3>
</td>
</tr>
</table>
<br/>
        <%= observe_field :list2_id, :function => 'executionTab.updateTree()', :with => 'list2_id' %>
    </div>
    <br/>
<% end %>
