
<!-- Loading test environments for project every time when this form is reloading -->
<% environments = get_environments_by_project(@project) %>

<!-- AJAX form to manage test environments -->
<%= form_for :env, :remote => true, :url => { :action => 'update_environment', :project_id => @project.id, :act => 'save' }, :update => :management_environments_id, :complete => 'full()', :html => { :id => 'environment_form_id' }  do |f| %>
	<h3>
        <%= l('label_environment') %>: <%= f.select :id, environments.collect { |e| [ e.name, e.id ] } %>
        <%= observe_field :env_id, :url => { :action => 'update_environment', :project_id => @project.id }, :with => 'env_id', :update => :management_environments_id %>
    </h3>
    <p>
        <%= f.text_field :name %>
        <%= update_environment_link 'save.png', 'save' %>
        <%= update_environment_link 'add.jpg', 'new', '13x13' %>
        <%= update_environment_link 'delete.jpg', 'delete', '13x13' if (environments.length > 1)%>
    </p>
	<br/>
	<%= f.text_area :description %>
<% end %>
