<table>
  <tr>
    <td>
      <%= l('label_version') %>:
	</td>
    <td>
      <%= select_tag(:versionx, options_from_collection_for_select(Version.where({project_id: @project.id}), 'id', 'name', @version.id), :style => 'width: 225px', :class => "report_combo") %>
    </td>
  </tr>
  <tr>
    <td>
      <%= l('label_execution_suite') %>:
	</td>
    <td>
      <%= select_tag(:suite, options_for_select([['All', '-1']]) + options_from_collection_for_select(ExecutionSuite.where({project_id: @project.id}), 'id', 'name', get_id_or_default(@execroot, -1)), :style => 'width: 225px', :class => "report_combo") %>
    </td>
  </tr>  
  <tr>
    <td>
      <%= l('label_environment') %>:
	</td>
    <td>
      <%= select_tag :environment, options_from_collection_for_select(ExecutionEnvironment.where({project_id: @project.id}), 'id', 'name', @environment.id), :style => 'width: 225px', :class => "report_combo" %>
    </td>
  </tr>
</table>
