<%
    context_menu_controller = 'redcase_context_menus'
    context_menu_action = 'test_suites_tree'
%>
<%= javascript_tag "new ContextMenu('#{url_for(:controller => context_menu_controller, :action => context_menu_action)}')" %>
<form>
    <div class="autoscroll" style="width: 100%">
        <table class="list entries" id="browser">
            <tbody>
                <tr class="entry dir open loaded hascontextmenu" id='<%= "#{@root.class}:#{@root.id}" %>'>
                    <td style="padding-left: 0px" class="filename">
                        <input type="checkbox" name="ids[]" value="<%= "#{@root.class}:#{@root.id}" %>" style="display: none" />
                        <span>&nbsp;&nbsp;</span>
                        <span class="icon icon-folder"><%= root.name %></a>
                    </td>
                </tr>
                <% @root.children.each do |child| %>
                    <%= render :partial => 'test_suite_node', :locals => { :node => child, :level => 1, :parent => @root } %>
                <% end %>
            </tbody>
        </table>
    </div>
</form>