<%
    tr_id = "#{node.class}:#{node.id}"
    padding = level.nil? ? 0 : level.to_i * 10
    tr_class = "#{parent.class}:#{parent.id} entry dir" if parent
%>
<tr class="entry dir hascontextmenu <%= tr_class %>" id="<%= tr_id %>">
    <td style="padding-left: <%= padding %>px">
        <input type="checkbox" name="ids[]" value="<%= tr_id %>" style="display: none" />
        <span class="expander" onclick="<%= remote_function(
                          :url => {
                                :controller => 'redcase_test_suites',
                                :action => 'show',
                                :id     => node.id,
                                :level  => (level.to_i + 1).to_s,
                            },
                          :method => :get,
                          :update => { :success => tr_id },
                          :position => :after,
                          :success => "scmEntryLoaded('#{tr_id}')",
                          :condition => "scmEntryClick('#{tr_id}')"
                        ) %>">&nbsp;&nbsp;</span>
        <span class="icon icon-folder node-name"><%= node.name %></a>
    </td>
</tr>
