<%
    content_for :header_tags do
        if Redcase::System.rails2?
%>
            <%= javascript_include_tag 'prototype', :plugin => 'redcase' %>
            <%= javascript_include_tag 'context_menu', :plugin => 'redcase' %>
<%
        else
%>
            <%= javascript_include_tag 'context_menu' %>
<%
        end
%>
            <%= javascript_include_tag 'application', :plugin => 'redcase' %>
            <%= stylesheet_link_tag 'context_menu' %>
            <%= stylesheet_link_tag 'redcase', :plugin => 'redcase' %>
<%
    end
%>

<script type="text/javascript">
    Ajax.Responders.register({
        onCreate: function(request) {
                var csrf_meta_tag = $$('meta[name=csrf-token]')[0];
                if (csrf_meta_tag) {
                    var header = 'X-CSRF-Token',
                    token = csrf_meta_tag.readAttribute('content');
                    if (!request.options.requestHeaders) {
                        request.options.requestHeaders = {};
                    }
                    request.options.requestHeaders[header] = token;
                }
            }
        });
    Event.observe(document, "dom:loaded", function() {
            $("closeModalDiv").observe('click', function() {
                    hideModal("modalDiv");
                    $$("#modalDiv form").first().remove();
                });
        });
</script>

<div id="modalDiv" style="display: none">
    <%= image_tag '/images/false.png', :style => "float: right; cursor: pointer", :id => "closeModalDiv" %>
    <br>
    <hr>
    <br>
</div>

<h2>
    Redcase
    <!-- Show the plugin version; only for development purposes-->
     <span style="color: gray">
        (Plugin version: <%= Redmine::Plugin.all.detect { |x| x.name == 'Redcase' }.version %>)
    </span>
</h2>

<%= render_tabs get_redcase_inner_tabs(@project) %>