
<% content_for :header_tags do %>

	<!-- ExtJS -->
	<%= stylesheet_link_tag '../javascripts/ext-3.1.1/resources/css/ext-all', :plugin => 'redcase' %>
	<!-- jsTree -->
	<%= stylesheet_link_tag '../javascripts/jstree-3.0.0-beta5/themes/default/style.min.css', :plugin => 'redcase' %>
	<!-- jqTree -->
	<!--<%= stylesheet_link_tag '../javascripts/mbraak-jqTree-38c2ba4/jqtree.css', :plugin => 'redcase' %>-->
	<!-- zTree -->
	<%= stylesheet_link_tag '../javascripts/zTree-v3.5.15/css/zTreeStyle/zTreeStyle.css', :plugin => 'redcase' %>
	<!-- jQuery EasyUI -->
	<%= stylesheet_link_tag '../javascripts/jquery-easyui-1.3.5/themes/default/easyui.css', :plugin => 'redcase' %>
	<%= stylesheet_link_tag '../javascripts/jquery-easyui-1.3.5/themes/default/menu.css', :plugin => 'redcase' %>
	<%= stylesheet_link_tag '../javascripts/jquery-easyui-1.3.5/themes/icon.css', :plugin => 'redcase' %>
	<%= stylesheet_link_tag '../javascripts/jquery-easyui-1.3.5/demo/demo.css', :plugin => 'redcase' %>
	<!-- Redmine -->
	<%= stylesheet_link_tag 'application' %>
	<!-- Redcase -->
	<%= stylesheet_link_tag 'styles', :plugin => 'redcase' %>

	<!-- Flash chart -->
	<%= javascript_include_tag 'swfobject', :plugin => 'redcase' %>
	<!-- ExtJS -->
	<%= javascript_include_tag 'ext-3.1.1/adapter/ext/ext-base', :plugin => 'redcase' %>
	<%= javascript_include_tag 'ext-3.1.1/ext-all-debug', :plugin => 'redcase' %>
	<!-- jsTree -->
	<%= javascript_include_tag 'jstree-3.0.0-beta5/jstree.min.js', :plugin => 'redcase' %>
	<!-- jqTree -->
	<!--<%= javascript_include_tag 'mbraak-jqTree-38c2ba4/tree.jquery.js', :plugin => 'redcase' %>-->
	<!-- zTree -->
	<%= javascript_include_tag 'zTree-v3.5.15/js/jquery.ztree.core-3.5.js', :plugin => 'redcase' %>
	<!-- jQuery EasyUI -->
	<%= javascript_include_tag 'jquery-easyui-1.3.5/jquery.easyui.min.js', :plugin => 'redcase' %>
	<!-- Prototype -->
	<%= javascript_include_tag 'prototype-1.7.1.0/prototype.js', :plugin => 'redcase' %>
	<!-- Redcase -->
	<%= javascript_include_tag 'logging', :plugin => 'redcase' %>
	<%= javascript_include_tag 'api', :plugin => 'redcase' %>
	<%= javascript_include_tag 'main', :plugin => 'redcase' %>
	<%= javascript_include_tag 'management', :plugin => 'redcase' %>
	<%= javascript_include_tag 'execution', :plugin => 'redcase' %>

<% end %>

<script type="text/javascript">
	// Project identifier
	jsProjectId = <%= @project.id %>;
	// User access rights
	jsCanEdit = <%= User.current.allowed_to?(:edit_test_cases, @project) != false %>;
</script>

<% html_title "Test cases" %>

<h2>Test cases
    <!-- Temporary plugin version output (only for testing) -->
    <span style="color: gray">
        (Plugin version: <%= Redmine::Plugin.all.detect { |x| x.name == 'Redcase' }.version %>)
    </span>
</h2>

<% if @version.nil? then %>
	<div style="color: #bbbbbb; text-align: center">
		(There is no <b>version</b> for this project. If you need to execute test cases please create some one...)
	</div>
<% end %>

<!-- Creating plugin inner tabs -->
<script>
	_$ = $;
	$ = jQuery;
</script>
<%= render_tabs get_plugin_tabs(@project) %>
<script>
	$ = _$;
</script>

<div id="redcase-dialog" style="display: none">
	<label for="name">Name:</label>
	<input type="text" name="redcase-dialog-value" id="redcase-dialog-value" class="text ui-widget-content ui-corner-all">
</div>

<script>

	var testSuiteTreeData = <%= @root_json.to_json.html_safe %>;
	var executionTreeData = <%= @exec_json.to_json.html_safe %>;

	var map = function(node, pre) {
		node.id = pre + node.id;
		if (node.children) {
			for (var i = 0; i < node.children.length; i++) {
				node.children[i] = map(node.children[i], pre);
			}
		}
		node.label = node.text;
		node.name = node.text;
		return node;
	};

	// Creating jsTree's tree control for test suites management
	/*
	jQuery('#testSuiteTree').jstree({
		core: {
			data: map(jQuery.extend(true, {}, testSuiteTreeData), 'tst-'),
			multiple: false
		}
	});
	*/

	var settings = {
		view: {
			selectedMulti: false
		}
	};

	var data = map(jQuery.extend(true, {}, testSuiteTreeData), 'est-');
	var testSuiteTree = jQuery.fn.zTree.init(jQuery('#testSuiteTree'), settings, [data]);
	testSuiteTree.expandNode(testSuiteTree.getNodes().first());
	
	// Creating jsTree's tree control for execution suites management
	/*
	jQuery('#executionSuiteTree').jstree({
		core: {
			data: map(jQuery.extend(true, {}, executionTreeData), 'est-'),
			multiple: false
		}
	});
	*/

	/*
	var executionSuiteTree = jQuery('#executionSuiteTree').tree({
		data: [
			map(jQuery.extend(true, {}, executionTreeData), 'est-')
		]
	});
	executionSuiteTree.tree('openNode', executionSuiteTree.tree('getTree').children[0])
	*/
   
   jQuery('#executionSuiteTree').tree({
		data: [
			map(jQuery.extend(true, {}, executionTreeData), 'est-')
		],
		dnd: true,
		animate: true,
		onDrop: function(targetNode, source, point){
			log.info('Yay! We dragged something!');
		},
		onContextMenu: function(e, node){
			e.preventDefault();
            jQuery(this).tree('select',node.target);
            jQuery('#mm').menu('show',{
                left: e.pageX,
                top: e.pageY
            });
		}
	});
	
	jQuery('#mm').menu({
	});
   
	// Creating jsTree's tree control for test cases execution
	// TODO: Remove code duplication (see main.js)
	jQuery('#executionTree').jstree({
		core: {
			data: map(jQuery.extend(true, {}, executionTreeData), 'et-'),
			multiple: false
		}
	}).on('changed.jstree', function(e, data) {
		var node = data.instance.get_node(data.selected[0]);
		onExecSelectionChange(null, node);
	});

</script>
